Repository mbraybrook/ISMS-Documents: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        base: auto
        branches:
          - main
          - develop
      backend:
        target: 70%
        threshold: 1%
        flags:
          - backend
      frontend:
        target: 70%
        threshold: 1%
        flags:
          - frontend
    
    patch:
      default:
        target: 70%
        threshold: 1%
      backend:
        target: 70%
        threshold: 1%
        flags:
          - backend
      frontend:
        target: 70%
        threshold: 1%
        flags:
          - frontend

flags:
  backend:
    paths:
      - backend/src
    carryforward: true
  frontend:
    paths:
      - frontend/src
    carryforward: true

comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes

Add assetCategoryId to RisksPage state for improved filtering options
  frontend/src/pages/RisksPage.tsx
Due: frontend

Remove trailing whitespace from migration SQL files and scripts for cleaner code formatting.
  backend/prisma/migrations/20251205094015_remove_cia_impact_from_suppliers/migration.sql
  backend/prisma/migrations/20251205150000_remove_supplier_assessments/migration.sql
  backend/prisma/migrations/20251205155321_remove_exit_plan_tracking_fields/migration.sql
  backend/scripts/backfill-control-embeddings.ts
  backend/scripts/check-control-embeddings.ts
  backend/src/types/sanitize-html.d.ts
  frontend/src/vite-env.d.ts
Due: backend, frontend

Enhance RiskFormModal to include mitigated risk level and color calculations
  frontend/src/components/RiskFormModal.tsx
Due: frontend

Refactor RiskFormModal to improve mitigated risk input UI and calculations, replacing number inputs with sliders for better user experience.
  frontend/src/components/RiskFormModal.tsx
Due: frontend

Add empty lines to various configuration, route, and test files for improved readability and consistency.
  backend/PRISMA_USAGE.md
  backend/jest.config.js
  backend/prisma/migrations/20251128151819_add_static_instance_risk_classification/migration.sql
  backend/src/middleware/__tests__/authorize.test.ts
  backend/src/routes/__tests__/acknowledgments.test.ts
  backend/src/routes/__tests__/documents.test.ts
  backend/src/routes/assetCategories.ts
  backend/src/routes/classifications.ts
  backend/src/routes/confluence.ts
  backend/src/routes/soa.ts
  backend/src/services/__tests__/riskService.test.ts
  backend/src/services/__tests__/soaService.test.ts
  backend/src/services/confluenceService.ts
  backend/src/types/enums.ts
  e2e/acknowledgment.spec.ts
  e2e/document-management.spec.ts
  e2e/soa-export.spec.ts
  frontend/src/pages/AssetCategoriesPage.tsx
  playwright.config.ts
Due: backend, frontend

Add UUID generation for document IDs in backend and implement user fetching for owner assignment in DocumentFormModal. Enhance DepartmentRiskTable with row ID configuration.
  backend/src/routes/documents.ts
  frontend/src/components/DepartmentRiskTable.tsx
  frontend/src/components/DocumentFormModal.tsx
Due: backend, frontend

Update .eslintrc.json - removed some comments added by the robot which make the syntax invalid
  backend/.eslintrc.json
Due: none

Remove trailing whitespace from various migration SQL files, scripts, and type definitions for cleaner code formatting.
  backend/prisma/migrations/20251205094015_remove_cia_impact_from_suppliers/migration.sql
  backend/prisma/migrations/20251205150000_remove_supplier_assessments/migration.sql
  backend/prisma/migrations/20251205155321_remove_exit_plan_tracking_fields/migration.sql
  backend/scripts/backfill-control-embeddings.ts
  backend/scripts/check-control-embeddings.ts
  backend/src/types/sanitize-html.d.ts
  frontend/src/vite-env.d.ts
Due: backend, frontend

Adding basic user management for Trust Center (external) user accounts.
  backend/prisma/migrations/20251214194454_add_external_user_is_active/migration.sql
  backend/prisma/schema.prisma
  backend/src/middleware/__tests__/trustAuth.test.ts
  backend/src/middleware/trustAuth.ts
  backend/src/routes/trust/__tests__/auth.test.ts
  backend/src/routes/trust/__tests__/userManagement.test.ts
  backend/src/routes/trust/auth.ts
  backend/src/routes/trust/index.ts
  frontend/src/pages/TrustCenterAdminPage.tsx
  frontend/src/pages/__tests__/TrustCenterAdminPage.test.tsx
  frontend/src/services/trustApi.ts
  frontend/src/types/trust.ts
Due: backend, frontend

`npm run build` hopefully works now.
  backend/src/index.ts
  frontend/src/__tests__/App.test.tsx
  frontend/src/components/SupplierRisksControlsTab.tsx
  frontend/src/components/__tests__/RiskDashboardSection.test.tsx
  frontend/src/components/__tests__/RoleSwitcher.test.tsx
  frontend/src/hooks/__tests__/useSharePointIntegration.test.ts
  frontend/src/pages/ControlsPage.tsx
  frontend/src/pages/DocumentsPage.tsx
  frontend/src/pages/StaffDocumentsPage.tsx
  frontend/src/pages/SupplierDetailPage.tsx
  frontend/src/pages/__tests__/TrustCenterAdminPage.test.tsx
  frontend/src/test/setup.ts
  frontend/src/types/supplier.ts
Due: backend, frontend

Trust Center improvements and redesign.
  backend/prisma/migrations/20251217120000_add_trust_center_stats/migration.sql
  backend/prisma/migrations/20251217130000_add_trust_center_certifications/migration.sql
  backend/prisma/migrations/20251217151218_add_certificate_link_to_trust_doc_setting/migration.sql
  backend/prisma/schema.prisma
  backend/src/routes/__tests__/trust.test.ts
  backend/src/routes/documents.ts
  backend/src/routes/trust/index.ts
  backend/src/types/enums.ts
  frontend/src/components/DocumentFormFields.tsx
  frontend/src/components/TrustCenterCertifications.tsx
  frontend/src/components/TrustCenterDocumentation.tsx
  frontend/src/components/TrustCenterFooter.tsx
  frontend/src/components/TrustCenterHeader.tsx
  frontend/src/components/TrustCenterHero.tsx
  frontend/src/components/TrustCenterStats.tsx
  frontend/src/components/TrustDocumentCard.tsx
  frontend/src/pages/TrustCenterAdminPage.tsx
  frontend/src/pages/TrustCenterPage.tsx
  frontend/src/services/trustApi.ts
  frontend/src/types/trust.ts
Due: backend, frontend

Update tests for ControlFormModal and TrustCenterAdminPage to improve reliability and handle focus issues.
  frontend/src/components/__tests__/ControlFormModal.test.tsx
  frontend/src/pages/__tests__/TrustCenterAdminPage.test.tsx
  frontend/src/test/setup.ts
Due: frontend

Refactor Trust Center settings and document handling.
  backend/prisma/migrations/20251217120000_add_trust_center_stats/migration.sql
  backend/prisma/migrations/20251218095352_remove_uptime_sla/migration.sql
  backend/prisma/schema.prisma
  backend/src/routes/__tests__/trust.test.ts
  backend/src/routes/trust/index.ts
  frontend/src/components/TrustCenterCertifications.tsx
  frontend/src/components/TrustCenterDocumentation.tsx
  frontend/src/components/TrustCenterHero.tsx
  frontend/src/components/TrustCenterStats.tsx
  frontend/src/components/TrustDocumentCard.tsx
  frontend/src/pages/TrustCenterAdminPage.tsx
  frontend/src/pages/TrustCenterPage.tsx
  frontend/src/services/trustApi.ts
Due: backend, frontend

Add .cursor folder structure to source control.
  .cursor/commands/fix-linting.md
  .cursor/commands/test-coverage.md
  .cursor/plans/add-data-sensitivity-footer-55964b6e.plan.md
  .cursor/plans/asset-management-and-risk-linking-321c7419.plan.md
  .cursor/plans/backend_routes_test_coverage_d615d8f3.plan.md
  .cursor/plans/comprehensive-code-review-and-remediation-aba5d0e7.plan.md
  .cursor/plans/comprehensive-isms-dashboard-8ee848e5.plan.md
  .cursor/plans/comprehensive-testing-framework-7578d911.plan.md
  .cursor/plans/controlled_document_versioning_flow_4616a184.plan.md
  .cursor/plans/convert-interested-party-to-managed-list-0517d6ce.plan.md
  .cursor/plans/departmental-risk-contribution-module-d49517f1.plan.md
  .cursor/plans/document-review-and-version-management-e82842b0.plan.md
  .cursor/plans/document_control_linking_4311250a.plan.md
  .cursor/plans/first-run-deployment-readiness-review-721965f8.plan.md
  .cursor/plans/fix-sharepoint-document-links-1bff981f.plan.md
  .cursor/plans/fix_e2e_tests_and_add_guidelines_259a5c02.plan.md
  .cursor/plans/fix_frontend_test_failures_24fce829.plan.md
  .cursor/plans/fix_frontend_test_suite_3faca83e.plan.md
  .cursor/plans/fix_risk_dashboard_integration_12345.plan.md
  .cursor/plans/fix_risk_dashboard_integration_4079aace.plan.md
  .cursor/plans/iso-27002-controls-integration-31bfe3c9.plan.md
  .cursor/plans/migrate-to-postgresql-a3bc66d4.plan.md
  .cursor/plans/optimize-llm-cpu-usage-with-persisted-embeddings-9dd3b672.plan.md
  .cursor/plans/refactor_documentformmodal_for_maintainability_503e3f77.plan.md
  .cursor/plans/restrict-admin-console-to-paythru-com-domain-8c23a9f4.plan.md
  .cursor/plans/risk-register-enhancement-62cebf33.plan.md
  .cursor/plans/routing-restructure-trust-domain-717a28c8.plan.md
  .cursor/plans/sharepoint-url-parsing-file-browser-and-mass-import-b59d6098.plan.md
  .cursor/plans/staff-document-review-and-acknowledgment-experience-b271b0aa.plan.md
  .cursor/plans/standardize-table-components-29f104c1.plan.md
  .cursor/plans/supplier-management-phase-1-160faa84.plan.md
  .cursor/plans/supplier-review-and-assessment-workflow-clarification-c4adeb3a.plan.md
  .cursor/plans/trust-center-module-enhanced.plan.md
  .cursor/plans/trust_center_design_redesign_e43c3b3a.plan.md
  .cursor/plans/trust_center_user_management_implementation_plan_a9f9f1b9.plan.md
  .cursor/plans/update-interested-parties-structure-27a32f81.plan.md
  .cursor/rules/linting.mdc
  .cursor/rules/testing.mdc
  .cursor/worktrees.json
  .gitignore
Due: none

General improvements to the public facing Trust Centre to prepare it for real-world usage.
  .env.example
  README.md
  backend/src/__tests__/app.test.ts
  backend/src/__tests__/config.test.ts
  backend/src/app.ts
  backend/src/config.ts
  backend/src/index.ts
  backend/src/lib/test-helpers.ts
  backend/src/routes/__tests__/suppliers.test.ts
  backend/src/routes/__tests__/trust.test.ts
  backend/src/routes/trust/index.ts
  backend/src/services/watermarkService.ts
  docker-compose.prod.yml
  docs/plans/add-data-sensitivity-footer-55964b6e.plan.md
  docs/plans/comprehensive-code-review-and-remediation-aba5d0e7.plan.md
  docs/plans/comprehensive-testing-framework-7578d911.plan.md
  docs/plans/first-run-deployment-readiness-review-721965f8.plan.md
  docs/plans/routing-restructure-trust-domain-717a28c8.plan.md
  docs/plans/trust-center-module-enhanced.plan.md
  frontend/index.html
  frontend/public/favicon.png
  frontend/src/App.tsx
  frontend/src/__tests__/App.test.tsx
  frontend/src/assets/banner.png
  frontend/src/components/Layout.tsx
  frontend/src/components/TrustCenterFooter.tsx
  frontend/src/components/TrustCenterHeader.tsx
  frontend/src/components/TrustCenterHero.tsx
  frontend/src/components/TrustCenterStats.tsx
  frontend/src/components/TrustDocumentCard.tsx
  frontend/src/components/__tests__/LayoutNavigation.test.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/TrustCenterAdminPage.tsx
  frontend/src/pages/TrustCenterLoginPage.tsx
  frontend/src/pages/__tests__/TrustCenterAdminPage.test.tsx
Due: backend, frontend

Enhance test reliability for RiskReviewQueue and TrustCenterAdminPage.
  frontend/src/components/__tests__/RiskReviewQueue.test.tsx
  frontend/src/pages/__tests__/TrustCenterAdminPage.test.tsx
Due: frontend

Build deployed to AWS can now be considered Beta. It basically works and is ready for real-user testing. Deployment process however is deathly slow, and that's my next focus.
  .cursor/plans/build_speed_optimization_plan_42c6f298.plan.md
  .github/workflows/build-and-test.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  backend/prisma/seed.ts
  backend/scripts/start.sh
  backend/src/config.ts
  backend/src/routes/sharepoint.ts
  backend/src/services/sharePointService.ts
  frontend/Dockerfile.prod
  frontend/VERSION
  frontend/src/assets/icon.png
  frontend/src/components/DataSensitivityFooter.tsx
  frontend/src/components/TrustCenterFooter.tsx
  infrastructure/DEPLOYMENT.md
  infrastructure/IMPLEMENTATION_SUMMARY.md
  infrastructure/appspecs/backend-appspec.yaml
  infrastructure/appspecs/frontend-appspec.yaml
  infrastructure/parameters/production-params.json
  infrastructure/parameters/staging-params.json
  infrastructure/scripts/README.md
  infrastructure/scripts/create-codedeploy-deployment.sh
  infrastructure/scripts/deploy-utils.sh
  infrastructure/scripts/deploy.sh
  infrastructure/scripts/seed-system-data.sh
  infrastructure/scripts/validate-templates.sh
  infrastructure/templates/ecr.yaml
  infrastructure/templates/main.yaml
  infrastructure/templates/secrets-manager.yaml
  infrastructure/templates/security-groups.yaml
Due: backend, frontend

Some lint and test fixes.
  backend/prisma/seed.ts
  backend/src/__tests__/config.test.ts
  backend/src/services/__tests__/sharePointService.test.ts
  frontend/src/components/__tests__/ControlFormModal.test.tsx
Due: backend, frontend

Test fix which should have been in the previous commit but I'm bad at Git.
  frontend/src/components/__tests__/ControlFormModal.test.tsx
Due: frontend

Add Document Acknowledgment Reporting and Entra ID Integration
  .cursor/plans/document_acknowledgment_reporting_and_entra_id_integration_8f95258c.plan.md
  backend/prisma/migrations/20251222095630_add_entra_id_config_and_cache/migration.sql
  backend/prisma/schema.prisma
  backend/src/routes/acknowledgments.ts
  backend/src/services/entraIdService.ts
  frontend/src/App.tsx
  frontend/src/components/AllStaffGroupConfig.tsx
  frontend/src/components/Layout.tsx
  frontend/src/pages/AcknowledgmentReportingPage.tsx
  frontend/src/services/api.ts
Due: backend, frontend

Enhance GitHub Actions deployment workflow and documentation
  .github/workflows/deploy-staging.yml
  infrastructure/GITHUB_ACTIONS_QUICKSTART.md
  infrastructure/GITHUB_ACTIONS_SETUP.md
  infrastructure/scripts/setup-github-actions.sh
Due: none

Enhance GitHub Actions setup and deployment process
  .github/workflows/deploy-staging.yml
  infrastructure/GITHUB_ACTIONS_QUICKSTART.md
  infrastructure/GITHUB_ACTIONS_SETUP.md
  infrastructure/scripts/setup-github-actions.sh
  infrastructure/templates/iam-roles.yaml
Due: none

A couple of small bug-fixes. And another attempt to get "Deploy to Staging" GitHub Action to work. Added some tests for entraIdService for > 80% coverage target.
  backend/prisma/seed.ts
  backend/src/routes/__tests__/risks.test.ts
  backend/src/services/__tests__/entraIdService.test.ts
  frontend/src/components/DataSensitivityFooter.tsx
  frontend/src/pages/AcknowledgmentReportingPage.tsx
  frontend/src/pages/RisksPage.tsx
  frontend/vite.config.ts
Due: backend, frontend

Small lint fixes for entraIdService.test.ts
  backend/src/services/__tests__/entraIdService.test.ts
Due: backend

Fixes for GitHub Actions Deploy to Staging + more test coverage.
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  backend/src/routes/__tests__/acknowledgments.test.ts
  backend/src/services/__tests__/supplierRiskSuggestionService.test.ts
  frontend/src/components/__tests__/ControlFormModal.test.tsx
  frontend/src/components/__tests__/RiskReviewQueue.test.tsx
  frontend/src/components/__tests__/SharePointFileBrowser.test.tsx
  frontend/src/test/setup.ts
Due: backend, frontend

Some small test improvements.
  frontend/src/components/ControlFormModal.tsx
  frontend/src/components/__tests__/ControlFormModal.test.tsx
  frontend/src/test/setup.ts
Due: frontend

Lint and test fixes.
  backend/src/routes/acknowledgments.ts
  backend/src/routes/auth.ts
  backend/src/routes/controls.ts
  backend/src/routes/dashboard.ts
  backend/src/routes/documents.ts
  backend/src/routes/legislation.ts
  backend/src/routes/reviews.ts
  backend/src/routes/risks.ts
  backend/src/routes/soa.ts
  backend/src/routes/supplierExitPlans.ts
  backend/src/routes/supplierLinks.ts
  backend/src/routes/trust/index.ts
  backend/src/services/assetImportService.ts
  backend/src/services/embeddingService.ts
  backend/src/services/interestedPartyImportService.ts
  backend/src/services/legislationImportService.ts
  backend/src/services/riskDashboardService.ts
  backend/src/services/riskImportService.ts
  backend/src/services/similarityService.ts
  backend/src/services/soaService.ts
  backend/src/services/supplierRiskSuggestionService.ts
  frontend/src/components/__tests__/ControlFormModal.test.tsx
  frontend/src/components/__tests__/RiskReviewQueue.test.tsx
Due: backend, frontend

More build and lint fixes to get GitHub Actions Deployment functional.
  backend/Dockerfile.prod
  backend/package.json
  backend/src/routes/acknowledgments.ts
  backend/src/routes/documents.ts
  backend/src/routes/supplierExitPlans.ts
  backend/src/routes/trust/index.ts
  backend/src/services/riskImportService.ts
  backend/src/services/similarityService.ts
  backend/src/services/supplierRiskSuggestionService.ts
Due: backend

A more microservice architecture is now functional, defined as IaC, and largely stable. Hoping this will also help speed up some build and deploy processes.
  .cursor/plans/infrastructure_consolidation_plan_200b3d4d.plan.md
  .cursor/plans/update_readme_for_microservices_architecture_339f181d.plan.md
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  README.md
  backend/Dockerfile.prod
  backend/src/lib/test-setup.ts
  backend/src/services/watermarkService.ts
  frontend/VERSION
  infrastructure/DEPLOYMENT.md
  infrastructure/GITHUB_ACTIONS_QUICKSTART.md
  infrastructure/IMPLEMENTATION_SUMMARY.md
  infrastructure/README.md
  infrastructure/deploy-backend.sh
  infrastructure/deploy-frontend.sh
  infrastructure/scripts/README.md
  infrastructure/scripts/backfill-control-embeddings.sh
  infrastructure/scripts/backfill-embeddings-onetime-task.sh
  infrastructure/scripts/check-control-embeddings.sh
  infrastructure/scripts/check-embeddings-simple.sh
  infrastructure/scripts/create-codedeploy-deployment.sh
  infrastructure/scripts/deploy-utils.sh
  infrastructure/scripts/deploy.sh
  infrastructure/scripts/pull-ollama-model.sh
  infrastructure/templates/ai-service-ecs.yaml
  infrastructure/templates/alb.yaml
  infrastructure/templates/document-service-ecs.yaml
  infrastructure/templates/ecr.yaml
  infrastructure/templates/ecs-cluster.yaml
  infrastructure/templates/ollama-ecs.yaml
  infrastructure/templates/security-groups.yaml
  services/ai-service/src/services/llmService.ts
  services/document-service/src/services/watermarkService.ts
Due: backend

Missed plan from previous commit (plan for updating the README, not a big deal).
  .cursor/plans/update_readme_for_microservices_architecture_339f181d.plan.md
Due: none

Enhance type safety and improve script organization in backend
  backend/package.json
  backend/src/services/riskImportService.ts
Due: backend

Refactor type-checking script and enhance type safety in acknowledgments route
  backend/package.json
  backend/src/routes/acknowledgments.ts
Due: backend

Just some frontend test coverage.
  .github/workflows/build-and-test.yml
  DOCKER_COMPOSE_ARCHITECTURE.md
  backend/prisma/migrations/20251222095630_add_entra_id_config_and_cache/migration.sql
  backend/src/routes/__tests__/soa.test.ts
  backend/src/routes/soa.ts
  frontend/VERSION
  frontend/src/components/SupplierExitPlanTab.tsx
  frontend/src/components/__tests__/ControlFormModal.test.tsx
  frontend/src/components/__tests__/ReviewFormModal.test.tsx
  frontend/src/components/__tests__/RiskApprovalModal.test.tsx
  frontend/src/components/__tests__/RiskReviewQueue.test.tsx
  frontend/src/components/__tests__/StaffOnlyRoute.test.tsx
  frontend/src/components/__tests__/SupplierExitPlanTab.test.tsx
  frontend/src/pages/SoAPage.tsx
  frontend/src/pages/__tests__/SoAPage.test.tsx
  frontend/vitest.config.ts
  infrastructure/appspecs/backend-appspec.yaml
  infrastructure/appspecs/frontend-appspec.yaml
  infrastructure/parameters/production-params.json
  infrastructure/parameters/staging-params.json
  infrastructure/scripts/seed-system-data.sh
  infrastructure/scripts/validate-templates.sh
  infrastructure/templates/main.yaml
  infrastructure/templates/secrets-manager.yaml
  services/ai-service/package.json
  services/ai-service/src/index.ts
  services/ai-service/src/middleware/authInternal.ts
  services/ai-service/src/routes/aiRoutes.ts
  services/ai-service/tsconfig.json
  services/document-service/package.json
  services/document-service/src/index.ts
  services/document-service/src/middleware/authInternal.ts
  services/document-service/src/routes/documentRoutes.ts
  services/document-service/src/services/documentConversionService.ts
  services/document-service/src/services/pdfCacheService.ts
  services/document-service/tsconfig.json
Due: backend, frontend

Add document change tracking and reset functionality - simply to signal to the administrators when a SharePoint version of a document has been modified for easier tracking.
  .cursor/plans/sharepoint_change_detection_system_7b3300b4.plan.md
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20251229193648_add_document_change_fields/migration.sql
  backend/prisma/schema.prisma
  backend/src/index.ts
  backend/src/jobs/documentChangeJob.ts
  backend/src/routes/__tests__/documents.test.ts
  backend/src/routes/documents.ts
  backend/src/services/__tests__/documentChangeService.test.ts
  backend/src/services/documentChangeService.ts
  frontend/VERSION
  frontend/src/pages/DocumentsPage.tsx
  frontend/src/utils/documentForm.ts
  package-lock.json
Due: backend, frontend

Refactor error handling in document change job to improve type safety
  backend/src/index.ts
  backend/src/jobs/documentChangeJob.ts
Due: backend
