Repository mbraybrook/ISMS-Documents: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

EC2 single instance deployment (the other deployment with ECS, RDS etc. works, but is way too expensive).
  .github/workflows/build-and-test.yml
  DOCKER_COMPOSE_ARCHITECTURE.md
  backend/prisma/migrations/20251222095630_add_entra_id_config_and_cache/migration.sql
  backend/prisma/schema.prisma
  docker-compose.ec2.yml
  frontend/VERSION
  infrastructure/appspecs/backend-appspec.yaml
  infrastructure/appspecs/frontend-appspec.yaml
  infrastructure/ec2/README.md
  infrastructure/ec2/backup.sh
  infrastructure/ec2/deploy.sh
  infrastructure/ec2/env.template
  infrastructure/ec2/nginx/nginx.conf
  infrastructure/ec2/nginx/ssl.conf
  infrastructure/ec2/setup-ec2.sh
  infrastructure/ec2/setup-monitoring.sh
  infrastructure/ec2/setup-ssl.sh
  infrastructure/parameters/production-params.json
  infrastructure/parameters/staging-params.json
  infrastructure/scripts/seed-system-data.sh
  infrastructure/scripts/validate-templates.sh
  infrastructure/templates/ec2-single-instance.yaml
  infrastructure/templates/secrets-manager.yaml
  services/ai-service/package.json
  services/ai-service/src/index.ts
  services/ai-service/src/middleware/authInternal.ts
  services/ai-service/src/routes/aiRoutes.ts
  services/ai-service/tsconfig.json
  services/document-service/package.json
  services/document-service/src/index.ts
  services/document-service/src/middleware/authInternal.ts
  services/document-service/src/routes/documentRoutes.ts
  services/document-service/src/services/documentConversionService.ts
  services/document-service/src/services/pdfCacheService.ts
  services/document-service/tsconfig.json
Due: none

feat: add notes tab to document form modal and implement backend for notes management.
  backend/prisma/schema.prisma
  backend/src/index.ts
  backend/src/routes/notes.ts
  frontend/VERSION
  frontend/src/components/DocumentFormModal.tsx
  frontend/src/components/NoteItem.tsx
  frontend/src/components/NotesTab.tsx
  frontend/src/components/__tests__/NoteItem.test.tsx
  package-lock.json
Due: backend, frontend

chore: update various scripts and configuration files for improved clarity and maintainability
  backend/prisma/migrations/20250105180000_add_note_table/migration.sql
  docs/Risks.csv
  infrastructure/appspecs/backend-appspec.yaml
  infrastructure/appspecs/frontend-appspec.yaml
  infrastructure/ec2/LOCAL_IP_ADDRESS
  infrastructure/ec2/README.md
  infrastructure/ec2/backup.sh
  infrastructure/ec2/deploy.sh
  infrastructure/ec2/setup-ec2.sh
  infrastructure/ec2/update-ssh-ip.sh
  infrastructure/parameters/production-params.json
  infrastructure/parameters/staging-params.json
  infrastructure/scripts/seed-system-data.sh
  infrastructure/scripts/validate-templates.sh
  infrastructure/templates/secrets-manager.yaml
  services/ai-service/package.json
  services/ai-service/src/index.ts
  services/ai-service/src/middleware/authInternal.ts
  services/ai-service/src/routes/aiRoutes.ts
  services/document-service/package.json
  services/document-service/src/index.ts
  services/document-service/src/middleware/authInternal.ts
  services/document-service/src/routes/documentRoutes.ts
  services/document-service/src/services/documentConversionService.ts
  services/document-service/src/services/pdfCacheService.ts
  services/document-service/tsconfig.json
Due: none

Enhance deployment documentation and improve backend logic for document change tracking
  README.md
  backend/src/app.ts
  backend/src/index.ts
  backend/src/services/__tests__/documentChangeService.test.ts
  backend/src/services/documentChangeService.ts
  infrastructure/ec2/deploy.sh
  infrastructure/ec2/nginx/nginx.conf
Due: backend

Enhance control code normalization to fix import bug and update Docker configuration
  .cursor/plans/fix_control_duplication_issue_359edd4f.plan.md
  backend/scripts/parse-iso27002-controls.ts
  backend/src/routes/controls.ts
  backend/src/services/__tests__/riskImportService.test.ts
  backend/src/services/__tests__/riskService.test.ts
  backend/src/services/riskService.ts
  docker-compose.ec2.yml
  infrastructure/ec2/deploy.sh
Due: backend

Refactor control retrieval logic in tests to use findFirst method
  backend/scripts/parse-iso27002-controls.ts
  backend/src/routes/__tests__/controls.test.ts
  backend/src/services/__tests__/riskService.test.ts
Due: backend

Implement Staff and Contributor Risk Access Improvements
  .cursor/plans/staff_and_contributor_risk_access_improvements_166b8f31.plan.md
  backend/prisma/migrations/20250105180000_add_note_table/migration.sql
  backend/prisma/migrations/20260105180000_add_note_table/migration.sql
  backend/prisma/seed-data/controls.json
  backend/prisma/seed.ts
  backend/scripts/start.sh
  backend/src/routes/__tests__/risks.test.ts
  backend/src/routes/risks.ts
  frontend/VERSION
  frontend/src/components/DataSensitivityFooter.tsx
  frontend/src/components/DataTable.tsx
  frontend/src/components/DocumentFormModal.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/RiskFormModal.tsx
  frontend/src/components/RoleSwitcher.tsx
  frontend/src/components/StaffRiskTable.tsx
  frontend/src/components/__tests__/DepartmentRiskTable.test.tsx
  frontend/src/components/__tests__/StaffRiskTable.test.tsx
  frontend/src/pages/RisksPage.tsx
Due: backend, frontend

Add ISO 27001 Risk Dashboard Enhancements
  .cursor/plans/iso27001-risk-dashboard_a0e546ed.plan.md
  backend/Dockerfile
  backend/prisma/migrations/20260115123000_add_risk_acceptance_and_treatments/migration.sql
  backend/prisma/schema.prisma
  backend/scripts/start.sh
  backend/src/routes/__tests__/dashboard.test.ts
  backend/src/routes/dashboard.ts
  backend/src/routes/risks.ts
  backend/src/services/__tests__/riskDashboardService.test.ts
  backend/src/services/riskDashboardService.ts
  frontend/src/components/RiskDashboardSection.tsx
  frontend/src/components/__tests__/RiskDashboardSection.test.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/RisksPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/risk.ts
  frontend/src/types/riskDashboard.ts
Due: backend, frontend

Add Trust Center Email Notification System
  .cursor/plans/trust_center_email_notifications_079a683e.plan.md
  AGENTS.md
  README.md
  backend/src/config.ts
  backend/src/routes/trust/auth.ts
  backend/src/routes/trust/index.ts
  backend/src/services/emailService.ts
  docker-compose.ec2.yml
  docs/EMAIL_SETUP.md
  frontend/src/pages/RisksPage.tsx
  frontend/src/pages/TrustCenterAdminPage.tsx
  frontend/src/pages/__tests__/TrustCenterAdminPage.test.tsx
  frontend/src/services/trustApi.ts
  infrastructure/ec2/env.template
  package.json
  scripts/dev-local.sh
  services/ai-service/package-lock.json
  services/document-service/package-lock.json
  services/document-service/src/services/pdfCacheService.ts
Due: backend, frontend

Enhance Seed and Control Management Functionality
  backend/package.json
  backend/prisma/seed-data/asset-categories.json
  backend/prisma/seed-data/interested-parties.json
  backend/prisma/seed.ts
  backend/scripts/update-control-applicability.ts
  backend/src/routes/__tests__/soa.test.ts
  backend/src/routes/risks.ts
  backend/src/routes/soa.ts
  backend/src/services/__tests__/riskDashboardService.test.ts
  backend/src/services/__tests__/soaService.test.ts
  backend/src/services/riskDashboardService.ts
  backend/src/services/soaService.ts
  frontend/src/components/ControlFormModal.tsx
  frontend/src/components/RiskDashboardSection.tsx
  frontend/src/components/RiskFormModal.tsx
  frontend/src/components/TrustCenterHeader.tsx
  frontend/src/components/__tests__/RiskDashboardSection.test.tsx
  frontend/src/pages/RisksPage.tsx
  frontend/src/pages/SoAPage.tsx
  frontend/src/pages/TrustCenterLoginPage.tsx
  frontend/src/pages/__tests__/SoAPage.test.tsx
  frontend/src/types/riskDashboard.ts
Due: backend, frontend

Refactor Risk and Asset Relationship Management. Risks can now link to more than one Asset. Also, lots of small improvements to risks table view.
  .cursor/commands/fix-linting.md
  .cursor/commands/fix-test-failures.md
  .cursor/commands/test-coverage.md
  backend/prisma/migrations/20260123103239_add_risk_asset_many_to_many/migration.sql
  backend/prisma/migrations/data_migration_risk_asset.sql
  backend/prisma/schema.prisma
  backend/scripts/check-migration-state.sql
  backend/scripts/check-migration-state.ts
  backend/src/routes/__tests__/assets.test.ts
  backend/src/routes/__tests__/risks.test.ts
  backend/src/routes/assets.ts
  backend/src/routes/risks.ts
  backend/src/services/__tests__/riskImportService.test.ts
  backend/src/services/__tests__/similarityService.test.ts
  backend/src/services/riskImportService.ts
  backend/src/services/similarityService.ts
  frontend/src/components/DataTable.tsx
  frontend/src/components/DepartmentRiskTable.tsx
  frontend/src/components/RiskFormModal.tsx
  frontend/src/components/StaffRiskTable.tsx
  frontend/src/components/__tests__/ControlFormModal.test.tsx
  frontend/src/components/__tests__/DepartmentRiskTable.test.tsx
  frontend/src/components/__tests__/RiskApprovalModal.test.tsx
  frontend/src/components/__tests__/RiskReviewQueue.test.tsx
  frontend/src/pages/RisksPage.tsx
  frontend/src/types/risk.ts
Due: backend, frontend

Remove check-migration-state scripts
  backend/scripts/check-migration-state.sql
  backend/scripts/check-migration-state.ts
Due: none

Enhance Department Risk Table Filtering Logic
  frontend/src/components/DepartmentRiskTable.tsx
  frontend/src/components/__tests__/DepartmentRiskTable.test.tsx
  frontend/src/pages/RisksPage.tsx
Due: frontend

Add Mobile Compatibility Improvements
  .cursor/plans/mobile_compatibility_improvements_017eaa2f.plan.md
  frontend/src/components/ControlFormModal.tsx
  frontend/src/components/DataTable.tsx
  frontend/src/components/DocumentFormModal.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/RiskApprovalModal.tsx
  frontend/src/components/RiskFormModal.tsx
  frontend/src/components/RiskWizardModal.tsx
  frontend/src/components/SharePointFileBrowser.tsx
  frontend/src/components/SupplierOnboardingWizard.tsx
  frontend/src/components/SupplierRisksControlsTab.tsx
  frontend/src/pages/AcknowledgmentReportingPage.tsx
  frontend/src/pages/AssetsPage.tsx
  frontend/src/pages/InterestedPartiesPage.tsx
  frontend/src/pages/LegislationPage.tsx
  frontend/src/pages/RisksPage.tsx
  frontend/src/pages/TrustCenterAdminPage.tsx
Due: frontend

Fixed issue with main logo resize on mobile
  frontend/src/components/Layout.tsx
Due: frontend

Add Department Model and Update Related Logic
  backend/prisma/migrations/20260127120000_add_department_model/migration.sql
  backend/prisma/migrations/20260127160000_drop_old_department_columns/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed-data/departments.json
  backend/prisma/seed.ts
  backend/src/__tests__/app.test.ts
  backend/src/app.ts
  backend/src/index.ts
  backend/src/middleware/__tests__/authorize.test.ts
  backend/src/middleware/authorize.ts
  backend/src/routes/__tests__/auth.test.ts
  backend/src/routes/__tests__/departments.test.ts
  backend/src/routes/__tests__/risks.test.ts
  backend/src/routes/__tests__/users.test.ts
  backend/src/routes/auth.ts
  backend/src/routes/departments.ts
  backend/src/routes/risks.ts
  backend/src/routes/users.ts
  backend/src/services/riskDashboardService.ts
  frontend/VERSION
  frontend/src/App.tsx
  frontend/src/components/DataSensitivityFooter.tsx
  frontend/src/components/DepartmentRiskTable.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/RiskFormModal.tsx
  frontend/src/components/__tests__/DepartmentRiskTable.test.tsx
  frontend/src/components/__tests__/RiskApprovalModal.test.tsx
  frontend/src/components/__tests__/RiskReviewQueue.test.tsx
  frontend/src/components/__tests__/RoleSwitcher.test.tsx
  frontend/src/components/__tests__/StaffRiskTable.test.tsx
  frontend/src/pages/DepartmentsPage.tsx
  frontend/src/pages/RisksPage.tsx
  frontend/src/types/department.ts
  frontend/src/types/risk.ts
  infrastructure/ec2/LOCAL_IP_ADDRESS
Due: backend, frontend

Path conditions:
  backend: any of: backend/src
  frontend: any of: frontend/src
